<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:new">
        <patch:attribute name="type">Westco.SS.Foundation.CommandExtender.Commands.ItemNew, Westco.SS.Foundation.CommandExtender</patch:attribute>
        <!--
        <menucommands hint="list">
          <menucommand type="[NAMESPACE].ItemNew, [LIBRARY]" />
        </menucommands>
        -->
      </command>
    </commands>
  </sitecore>
</configuration>